.container {
	display: flex;
	height: 100vh;

	.header {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
		flex-basis: 30%;
		background-color: #333;
		height: 100vh;
	}

	.main {
		flex-basis: 70%;
=======
=======
>>>>>>> parent of 1b436df... removed sass
=======
>>>>>>> parent of 1b436df... removed sass
		width: 300px;
		background-color: #333;
      height: 100vh;
      position: relative;
	}

	.main {
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> parent of 1b436df... removed sass
=======
>>>>>>> parent of 1b436df... removed sass
=======
>>>>>>> parent of 1b436df... removed sass
		height: 100vh;
		overflow: scroll;
	}
}
