.container {
	display: flex;
	height: 100vh;

	.header {
		width: 20%;
		max-width: 250px;
		background-color: #333;
      height: 100vh;
      position: fixed;
	}

	.main {
		height: 100vh;
		overflow: scroll;
	}
}
